// Custom styles.
.post-body p a{ 
    color: #075DC4; 
    border-bottom: none; 
    border-bottom: 1px solid #075DC4; 
    &:hover { 
        color: #fc6423; 
        border-bottom: none; 
        border-bottom: 1px solid #fc6423; 
    } 
}